{% for user in users %}
{% if user.token %}
{{ user.username }} Cleartext-Password := "{{ user.token }}"
{% if user.extraProperties %}
    {% for key, val in user.extraProperties.items() %}{{ key }} := {{ val }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}

{% endif %}
{% endfor %}